
<section id="unic-section" class="main clearfix ui bottom attached segment pushable">
  <div class="ui inverted labeled  left inline vertical sidebar my-sidebar menu">
    <ul class="cat-menu c-yellow">
				<li class="menu-item">
					<a class="menu-options c-yellow " href="#option">Скидки % <i class="angle right icon"></i></a>
					<ul class="cat-submenu">
						<li class="submenu-item">
							<a class="submenu-options" href="#option">Компот</a>	
						</li>
						<li class="submenu-item">
							<a class="submenu-options" href="#option">Минеральная вода</a>
						</li>
						<li class="submenu-item">
							<a class="submenu-options" href="#option">Соки, нектары</a>
						</li>
					</ul>
				</li>
				<li class="menu-item">
					<a class="menu-options" href="#option">Рыба и морепродукты <i class="angle right icon"></i></a>
					<ul class="cat-submenu hidden">
						<li class="submenu-item">
							<a class="submenu-options" href="#option">Компот</a>	
						</li>
						<li class="submenu-item">
							<a class="submenu-options" href="#option">Минеральная вода</a>
						</li>
						<li class="submenu-item">
							<a class="submenu-options" href="#option">Соки, нектары</a>
						</li>
					</ul>
				</li>
				<li class="menu-item">
					<a class="menu-options" href="#option">Рыба и морепродукты <i class="angle right icon"></i></a>
					<ul class="cat-submenu hidden">
						<li class="submenu-item">
							<a class="submenu-options" href="#option">Компот</a>	
						</li>
						<li class="submenu-item">
							<a class="submenu-options" href="#option">Минеральная вода</a>
						</li>
						<li class="submenu-item">
							<a class="submenu-options" href="#option">Соки, нектары</a>
						</li>
					</ul>
				</li>
				<li class="menu-item">
					<a class="menu-options" href="#option">Рыба и морепродукты <i class="angle right icon"></i></a>
					<ul class="cat-submenu hidden">
						<li class="submenu-item">
							<a class="submenu-options" href="#option">Компот</a>	
						</li>
						<li class="submenu-item">
							<a class="submenu-options" href="#option">Минеральная вода</a>
						</li>
						<li class="submenu-item">
							<a class="submenu-options" href="#option">Соки, нектары</a>
						</li>
					</ul>
				</li>
				<li class="menu-item">
					<a class="menu-options" href="#option">Рыба и морепродукты <i class="angle right icon"></i></a>
					<ul class="cat-submenu hidden">
						<li class="submenu-item">
							<a class="submenu-options" href="#option">Компот</a>	
						</li>
						<li class="submenu-item">
							<a class="submenu-options" href="#option">Минеральная вода</a>
						</li>
						<li class="submenu-item">
							<a class="submenu-options" href="#option">Соки, нектары</a>
						</li>
					</ul>
				</li>
			</ul>
  </div>
  <div class="pusher">
  	<div class="main__tab main__tab-s main__tab--w active-tab home-tab">
  		<div class="container my-cont ui">
  			<h1 class="main__tab__article">Доставляем продукты из магазинов города в течение 3 часов
  			</h1>
  			<p class="main__tab__text">Откуда вам доставить продукты?</p>
        <div class="main__tab__shops clearfix">
        <a href="#" class="main__tab--link">
          <img src="img/metro.png" alt="metro">
        </a>
        <a href="#" class="main__tab--link">
          <img src="img/pobeda.png" alt="pobeda">
        </a>
        <a href="#" class="main__tab--link main__link--last">
          <img src="img/okey.png" alt="okey">
        </a>
        <a href="#" class="main__tab--link">
          <img src="img/metro.png" alt="metro">
        </a>
        <a href="#" class="main__tab--link">
          <img src="img/pobeda.png" alt="pobeda">
        </a>
        <a href="#" class="main__tab--link main__link--last">
          <img src="img/okey.png" alt="okey">
        </a>
        <a href="#" class="main__tab--link">
          <img src="img/metro.png" alt="metro">
        </a>
        <a href="#" class="main__tab--link">
          <img src="img/pobeda.png" alt="pobeda">
        </a>
      </div>
  		</div>
      <div class="cont-fot-arr container ui">
        <div class="next-small-slide next-small-slide-right"><i class="angle right icon"></i></div>
        <div class="next-small-slide next-small-slide-left"><i class="angle left icon"></i></div>
      </div>
  		
  		<a href="#" id="" class="big-view main__tab--link to-slider how-it-work">
  			<h2>Как это<br>работает</h2>
  			<span class="what-icon">?</span>
  		</a>
  		<div class="container ui">
  			<a href="#" id="" class="small-view main__tab--link to-slider how-it-work">
  			<h2>Как это<br>работает</h2>
  			<span class="what-icon">?</span>
  			</a>
  		</div>
  	</div>
  	<div class="main__tab--w slider-tab">
  		<i class="angle right icon btn-next"></i>
  		<i class="angle left icon btn-prev"></i>
  		<div class="slider-wrap">
  			<div class="slider-item slider-item-1">
  				<div class="container ui slider-item__container">
  					<h1 class="main__tab__article">Ваш заказ в магазине будет собран вашим персональным шоппером</h1>
  					<p class="main__tab__text">Это профессиональные покупатели. Они отлично знают где найти нужный товар, как разобраться качестве товара и его сроке годности. Вы можете  созвониться и сообщить о своих пожеланиях, когда получите смс-уведомление о начале сбора вашего заказа.</p>
  				</div>
  			</div>
  			<div class="slider-item slider-item-2">
  				<div class="container ui slider-item__container">
  					<h1 class="main__tab__article">Берём оплату заранее и работаем от 1500 руб.</h1>
  					<p class="main__tab__text">Мы вынуждены принимать оплату только банковскими картами на сайте, чтобы исключить случаи, когда клиент сделал заказ, но в назначенное время не оказался на месте, либо отказался платить. </p>
  				</div>
  			</div>
  			<div class="slider-item slider-item-3">
  				<div class="container ui slider-item__container">
  					<h1 class="main__tab__article">Доставка стоит 350 руб.</h1>
  					<p class="main__tab__text">При заказе на сумму более 5 000 руб. доставка бесплатно</p>
  					<h1 class="main__tab__article">Зона доставки по Москве в пределах МКАД</h1>
  					<p class="main__tab__text">Мы работаем над расширением зоны доставки.</p>
  				</div>
  			</div>
  			<div class="slider-item slider-item-4">
  				<div class="container ui slider-item__container">
  					<h1 class="main__tab__article">Мы всегда готовы пойти навстречу нашим клиентам</h1>
  					<p class="main__tab__text">Так как доставка продуктов питания вопрос сложный и могут возникать разногласия, мы всегда готовы выслушать претензии по качеству продуктов, доставки и работе сервиса в целом.</p>
  				</div>
  			</div>
  			<div class="slider-item main__tab-s slider-item-5">
  				<div class="container ui slider-item__container">
  					<h1 class="main__tab__article">Готовы сделать свой<br>первый заказ?
  					</h1>
  					<p class="main__tab__text">Откуда вам доставить продукты?</p>
            <div class="main__tab__shops clearfix">
            <a href="#" class="main__tab--link">
              <img src="img/metro.png" alt="metro">
            </a>
            <a href="#" class="main__tab--link">
              <img src="img/pobeda.png" alt="pobeda">
            </a>
            <a href="#" class="main__tab--link main__link--last">
              <img src="img/okey.png" alt="okey">
            </a>
            <a href="#" class="main__tab--link">
              <img src="img/metro.png" alt="metro">
            </a>
            <a href="#" class="main__tab--link">
              <img src="img/pobeda.png" alt="pobeda">
            </a>
            <a href="#" class="main__tab--link main__link--last">
              <img src="img/okey.png" alt="okey">
            </a>
            <a href="#" class="main__tab--link">
              <img src="img/metro.png" alt="metro">
            </a>
            <a href="#" class="main__tab--link">
              <img src="img/pobeda.png" alt="pobeda">
            </a>
          </div>
          <div class="next-small-slide next-small-slide-right"><i class="angle right icon"></i></div>
          <div class="next-small-slide next-small-slide-left"><i class="angle left icon"></i></div>
  				</div> 
  				
  				
  				<a href="#" id="" class="big-view main__tab--link repeat-slide how-it-work">
  					<h2>Повторить</h2>
  					<span class="what-icon">?</span>
  				</a>
  				<div class="container ui">
  					<a href="#" id="" class="small-view main__tab--link repeat-slide how-it-work">
  						<h2>Повторить</h2>
  						<span class="what-icon">?</span>
  					</a>
            <a href="#" id="" class="small-view choose-shop main__tab--link how-it-work">
              <h2>Выберете магазин</h2>
            </a>
  				</div>
  		</div>
		</div>
  </div>

</section>